<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Update/Add User</title>
</head>
<body>
<center><h1 th:text="${user.id != null} ? 'Update User' : 'Add User'">Add User</h1></center>
<br>

<form th:action="${user.id != null} ? @{/updateUser} : @{/addUser}" th:object="${user}" method="post" align="center">
  <table align="center">

    <input type="hidden" th:field="*{id}" />

    <tr>
      <td><label for="name">First Name:</label></td>
      <td><input type="text" th:field="*{firstName}" id="name" required /></td>
    </tr>
    <tr>
      <td><label for="lastName">Last Name:</label></td>
      <td><input type="text" th:field="*{lastName}" id="lastName" required /></td>
    </tr>
    <tr>
      <td><label for="email">Email:</label></td>
      <td><input type="text" th:field="*{email}" id="email" required /></td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <br>
        <input type="submit" th:value="${user.id != null} ? 'Update User' : 'Add User'" />
      </td>
    </tr>
  </table>
</form>
</body>
</html>